
.header {
  background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%), url('../img/back/back_image.jpg');
  background-color: #061e37;
  opacity: 0.9;
 color: #fff;
}

.wrap {
  @include wrapper;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 176px;
}

.logo {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__img {
    width: 30px;
  }
  &__desk {
    width: 140px;
  }
}

.page-nav {
  padding-right: 332px;
  padding-left: 320px;

  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;  
  }

  &__item {
    padding-left: 50px;
  }
}

.page-nav__input {
  a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 2px;
  }
}

.intro {
  @include wrapper;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro__desk {
  width: 580px;
  padding-right: 260px;
  font-family: "Raleway - Extra Bold";
    h1 {
      font-size: 55px;
      line-height: 65px;
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
     
      font-size: 18px;
      line-height: 35px;
      font-weight: 400;
    }
    .button-bl {
      margin-right: 30px;
      width: 155px;
      background-color: #061e37;
    }
    
    .button-wh {
      width: 160px;
      background-color: #ffffff;
      color: #061e37;
    }

}

.intro__video {
  background-color: #fff;
  width: 600px;
  height: 320px;
  margin-bottom: 185px;
}
