.features-header {
  width: 681px;
  margin: 0 auto;
  padding-top: 99px;
  text-align: center;

} 

.features-main {
  @include wrapper;
  padding-top: 220px;
  padding-bottom: 220px;
}
.features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
 }


.features-list__item {
  width: 344px;
  text-align: center;
  h3 {
    color: #061e37;
    font-family: "Raleway - Semi Bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }

  p {
    color: #78909c;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
   }

}