<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet"> 
  <title>Mocco Group Travell Agency</title>
  <meta name="theme-color" content="#fff">

  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div class="conainer">
    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/footer/footer.html")

    <script src="../js/main.js"></script>
    <script src="../js/vendor.js"></script>
  </div>
</body>

</html>