<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800&display=swap" rel="stylesheet"> 
  <meta name="theme-color" content="#fff">

  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div class="container">
    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/features/features.html")
    @@include("../blocks/modules/footer/footer.html")

    <script src="../js/main.js"></script>
    <script src="../js/vendor.js"></script>
  </div>
</body>

</html>