.progress__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-family: "Raleway - Extra Bold";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
  .progress__item {
    padding-top: 57px;
    padding-bottom: 57px;
    
    color: #fff;
    background-color: #000;
    text-align: center;
  }

  .color-1 {
    background-color: #80d8ff;
    padding-left: 200px;
    padding-right: 114px;
  }

  .color-2 {
    background-color: #82b1ff;
    padding-left: 186px;
    padding-right: 105px;
    }

  .color-3 {
    padding-left: 141px;
    padding-right: 102px;
    background-color: #b388ff;
  }

  .color-4 {
    padding-left: 173px;
    padding-right: 136px;
    background-color: #ea80fc;
  }
